body {
  background-color: #dfdfdf;
}

.main-body {
  background-color: white;
  margin-left: 80px;
  margin-right: 0;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
  width: 50%;
}

.main-body h1{
  text-align: center;
  padding: 20px;
  font-family: SourceSans;
}
